.top-main-con {
  background-color: #010101;
}
.top-hero-section {
  height: 680px;
  position: relative;
  z-index: 0;
  color: white;
  overflow: hidden;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}
.top-hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\res-navbar for tablet and medium screen devices\\\\\\\\\\\\\\\\\\\\\\\ */
.res-nav {
  /* border: 1px solid yellowgreen; */
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.res-img {
  width: 200px;
  /* border: 1px solid yellowgreen; */
  margin-top: 10px;
}
.res-sec-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.res-navLinks {
  display: flex;
  gap: 13px;
  margin-top: 10px;
}
.res-navLinks a {
  display: flex;
  color: #ffffff;
}
/* \\\\\\\\\\\\\\\\\res-navbar medium devices end\\\\\\\\\\\\\\\\\\\\ */

/* \\\\\\\\\\\\\\\\\\\\\\res-navbar small devices start\\\\\\\\\\\\\\\\\\\\\\\ */
.small-nav {
  /* border: 1px solid lime; */
  padding: 12px 24px 24px 0px;
  display: flex;
  justify-content: space-between;
  background-color: #38150f;
  width: 100vw;
  margin-left: -24px;
  box-sizing: border-box;
  border-bottom: 5px solid #c95018;
}
.sm-img {
  /* background-color: lime; */
  width: 200px;
}
.toggle {
  font-size: 30px;
}
.searchAndToggleIcon {
  display: flex;
}
/* \\\\\\\\\\\\\\\\\\\\\\res-navbar small devices end\\\\\\\\\\\\\\\\\\\\\\\ */
.nav-main-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 48px;
  max-width: 1400px;
}
.features-dropdown {
  display: none;
}
.logoAndNavLinks {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.logoAndNavLinks a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 20px;
}
.imag {
  /* border: 1px solid red; */
  width: 200px;
}
.image {
  width: 250px;

  color: rgb(180, 18, 18);
}
.top-hero-new {
  background-color: #04ba71;
  border-radius: 4px;
  color: black;

  padding: 3px 4px;
  margin: 0px 0px 0px 6px;
}
.loginSignUpSearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.searchbar,
.joinNow,
.login {
  color: #ffffff;
  font-weight: 500;
}
.joinNow {
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #c02d28;
  font-size: 14px;
}
.searchbar {
  font-size: 30px;
}
.hero-content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 170px;
  margin-left: 70px;
  gap: 20px;
}
.hero-heading {
  color: #e6e6e6;
}
.hero-heading h1 {
  color: #e6e6e6;
  font-size: 44px;
  font-weight: 700;
}

.hero-heading h2 {
  color: #e6e6e6;
  font-size: 24px;
  font-weight: 700;
}
.hero-buttons {
  display: flex;
  gap: 10px;
}
.btnforfreeTrial,
.btnforBrowseCourses {
  border-radius: 30px;
  border: 1px solid white;
  padding: 16px 24px;
  color: white;
  cursor: pointer;
}
.btnforfreeTrial {
  background-color: #c02d28;
  border: none;
}
.btnforBrowseCourses:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.quote-main-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  margin: 33px 10px 0px auto;
  padding: 10px 12px;
  max-width: 1024px;
  background-color: rgba(13, 13, 13, 0.8);
}
@media (min-width: 1251px) {
  .mobile-menu {
    display: none;
  }

  .res-nav {
    display: none;
  }
  .small-nav {
    display: none;
  }
}
@media (min-width: 700px) and (max-width: 1250px) {
  .mobile-menu {
    display: none;
  }

  .nav-main-container {
    display: none;
  }
  .small-nav {
    display: none;
  }
  .top-hero-section {
    /* border: 10px solid lime; */
    /* height: 220vh; */
  }
}

@media (max-width: 999px) {
  .mobile-menu {
    /* display: none; */
  }
  .top-hero-section {
    height: 100vh;
  }
  .quote-main-container {
    display: none;
  }
}
@media (max-width: 700px) {
  .top-hero-section {
    height: 120vh;
    /* border: 10px solid lime; */
  }
  .res-nav,
  .nav-main-container {
    display: none;
  }
  .sm-img {
    margin-left: 20px;
  }
  .searchAndToggleIcon {
    display: flex;
    gap: 20px;
  }
  .searchbar,
  .toggle {
    color: #ababab;
  }

  .hero-content-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    top: 10%;
  }

  .mobile-menu {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #38150f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    z-index: 9999;
    gap: 25px;
    padding: 30px;
  }

  .mobile-menu a {
    color: #ababab;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -10px;
    gap: 10px;
  }

  .mobile-menu .loginSignUpSearchBar {
    flex-direction: column;
    gap: 25px;
  }
  .divider-menu {
    color: #afb0b3;
    width: 100%;
    position: relative;
    top: auto;
  }
  .feature-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
    /* margin-bottom: -10px; */
    margin-left: 10px;
  }
  .feature-menu a {
    position: relative;
    bottom: 10px;
    font-weight: 500;
    font-size: 14px;
  }
  .loginSignUpSearchBar {
    margin-bottom: 90px;
    text-align: center;
  }
  .joinNow {
    /* border: 1px solid lime; */
    width: 100%;
    background-color: #bf2d28;
  }
  .login {
    /* border: 1px solid lime; */
    width: 100%;
    border-radius: 30px;
    background-color: #c95018;
    padding: 10px 20px;
  }
  .hero-buttons {
    /* background-color: lime; */
    display: flex;
    flex-direction: column;
  }
  .btnforfreeTrial,
  .btnforBrowseCourses {
    align-items: center;
    text-align: center;
  }

  .contact-supp-sm a {
    color: #f56e69;
  }
}

.fullscreen-nav {
  display: none;
}
.no-scroll {
  /* overflow: hidden; */
  height: 100vh;
}
